/node_modules
/public/hot
/public/storage
/public/image/card
/public/image/icon
/public/image/tachie
/storage/*.key
/vendor
/.idea
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
