@font-face {
    font-family: "VL PGothic";
    src: local("VL PGothic"),
    url('../font/VL-PGothic-Regular.woff');
}

body{
    display: flex;
    margin: 0;
    min-height: 100vh;
    font-family: 'VL PGothic', sans-serif;
}
#login_form{
    position: relative;
    width: 700px;
    min-height: 100vh;
    background: #383838;
    color: whitesmoke;
    padding: 15px 30px;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
#illustration{
    width: 100%;
    height: 100vh;
    background: black;
}

img#logo{
    height: 50px;
    width: auto;
}
h1{
    font-weight: normal;
}

input[type=text],input[type=password]{
    margin: 5px 0;
    padding: 7px;
    width: 100%;
    font-size: 17px;
    box-sizing: border-box;
    border: none;
}
.checkbox{
    text-align: center;
    margin: 5px 0;
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.buttons > button,.buttons > .button{
    width: 100%;
    margin-left: 5px;
}
.buttons > button:first-child,.buttons > .button:first-child{
    margin-left: 0;
}
button,.button{
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    padding: 7px;
    border: none;
    cursor: pointer;
}

button.primary,.button.primary{
    background: #5abfb7;
}
button.cancel,.button.cancel{
    background: #554171;
    color: white;
}

hr{
    border: solid 1px rgba(255,255,255,0.4);
    margin: 20px 0;
}
