img#homebackground{
    position: relative;
    width: 100vw;
    height: auto;
    margin: 0 calc(-50vw + 650px) -200px;
    z-index: 1;
    overflow: hidden;
}
#homebackground + *{
    position: relative;
    z-index: 2;
}

h1#sitelogo{
    margin: 0;
    text-align: center;
}
h1#sitelogo > img{
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
}
