#homebackground{
    position: relative;
    width: 100%;
    min-width: 1300px;
    height: calc(100vw / 2.3);
    margin: 0 0 -200px;
    background-repeat: no-repeat;
    background-position: center 36px;
    background-image: url("/image/homebackground.jpg");
    background-color: transparent;
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
    -webkit-mask-image:linear-gradient(180deg, black 85%, transparent 100%);
    mask-image:linear-gradient(180deg, black 85%, transparent 100%);
}
#homebackground + *{
    position: relative;
    z-index: 2;
}

h1#sitelogo{
    margin: 0;
    text-align: center;
}
h1#sitelogo > img{
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
}
